.logo {
    height: 150px;
    width: 150px;
}

ul {
  float: right;
  padding-top: 85px;
}

/* Navbar  */
li {
    display: inline;
    float: left;
    padding: 15px;
    font-size: 22px;
    font-family: Impact, sans-serif;
  }

li a{
  color:#6803c6;
}

header {
  border-bottom: solid #822dc4 1px;
  background-color: white;
}

body {
background-color: #f2edf7;
}

/* Picture of me left aligned */
img {
  height: 500px;
  width: 350px;
  padding-left: 7px;
  padding-right: 10px;
  padding-top: 10px;
  border-radius: 25px;
}

.aniqimage {
  float: left;
  padding-top: 5px;
}

/* Main body of text */
.maintext {
  padding-top: 10px;

}

h1 {
  color: #023991;
  font-size: 45px;
  text-align: left;
  font-family: 'Acme', sans-serif;

}

h2 {
  color: #5a90e8;
  font-size: 60px;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  font-family: 'Patua One', cursive;
}

/* Footer */
p  {
  background-color: #f2edf7;
}
